<section class="container-fluid">
    <section class="row">
        <!-- SECTION - Sidebar -->
        <div class="col-3 bg-success">
            <H1>Gifts bruh</H1>
            <form id="post-gift" onsubmit="app.GiftsController.postGift()">
                <label class="d-block" for="tag">Tag</label>
                <input name="tag" type="text" id="tag">
                <label class="d-block" for="url">URL</label>
                <input name="url" type="text" id="url">
                <button class="btn btn-secondary">Submit</button>
            </form>
            <hr />
            <form>
                <label class="d-block" for="search">Search</label>
                <input name="search" type="text">
                <button class="btn btn-secondary">Submit</button>
            </form>
        </div>



        <!-- SECTION - Gifts Window -->
        <div class="col-7 ">
            <div class="row gap-4 p-2" id="gift-list">
                <!-- <div class="col-3 card">
                    <img src="" alt="img" class="card-image">
                    <p class="card-text text-center">Some text here</p>
                </div> -->
            </div>
        </div>




    </section>
</section>